@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

.gupter-regular {
  font-family: 'Gupter', serif;
  font-weight: 400;
  font-style: normal;
}

.gupter-medium {
  font-family: 'Gupter', serif;
  font-weight: 500;
  font-style: normal;
}

.gupter-bold {
  font-family: 'Gupter', serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

a:visited {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

a:hover {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
