.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  font-family: 'Gupter', serif;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo img {
  width: 500px;  
}

.hamburger {
  display: none;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 0;
  padding: 0;
}

.navbar-item {
  margin: 15px;
  color: #333;

}

.navbar-item a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

.navbar-item a:hover {
  color: gray;
  text-decoration: underline;
  
}

.divider {
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  background-color: #333;
  margin-top: 3px;
}


.divider2 {
  content: "";
  display: double-block;
  width: 50%;
  height: 2px;
  background-color: #333;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .navbar-container {
      flex-direction: column;
      align-items: center;
  }

  .navbar-menu {
      flex-direction: column;
      width: 100%;
      display: none;
  }

  .navbar-menu.open {
      display: flex;
  }

  .navbar-item {
      margin: 10px 0;
      color: #333;

  }

  .hamburger {
      display: block;
      color: #333;

  }

  .navbar-logo img {
      width: 250px;
  }
}
