.three-articles-block {
  font-family: 'Gupter', serif;
}

.three-articles-block {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
}

.top-articles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-article {
  flex: 1;
  margin-right: 10px;
}

.top-article h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.top-article p {
  margin-bottom: 5px;
}

.article-meta {
  font-size: 0.6rem;
  color: #666;
}

.bottom-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-article .article-content {
  max-width: 60%;
}

.bottom-article img {
  max-width: 35%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.three-articles-block a {
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
}

.three-articles-block a:hover {
  text-decoration: none;
  color: gray;
}

@media (max-width: 768px) {
  .top-articles {
      flex-direction: column;
  }

  .top-article {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .bottom-article {
      flex-direction: column;
      align-items: flex-start;
  }

  .bottom-article .article-content {
      max-width: 100%;
      margin-bottom: 10px;
  }

  .bottom-article img {
      max-width: 100%;
      margin-bottom: 10px;
  }
}
